.search-container {
  background-image: url('https://res.cloudinary.com/dvhrrtgpt/image/upload/v1684074167/nature-colorful-landscape-dusk-cloud_y2tinu.jpg');
  background-size: cover;
  min-height: 100vh;
}

.search-content-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.search-form-emoji {
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.form {
  width: 50%;
  max-width: 400px;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.label {
  font-family: 'Roboto';
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  outline: none;
}

.submit-btn {
  padding: 20px;
  background-color: rgb(130, 130, 195);
  border-radius: 7px;
  border: 0;
  align-self: center;
  cursor: pointer;
  margin-top: 20px;
}
